/*--- Tipografias accesibles ---*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/*--- Variables CSS ---*/
:root{
--background-body:linear-gradient(to top right,lightcyan, lightskyblue, mistyrose);
--background-header: linear-gradient(to top right,lightskyblue, mistyrose);
--background-footer: linear-gradient(to top right,mistyrose, lightskyblue);
--background-menu: lavenderblush;
--border-color: purple;
}
    

/*--- Contenedores ---*/
body{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-content:space-evenly;
    box-sizing: border-box;
    background: var(--background-body);
    line-height: 1.6;
    width: 100%;
    height:70%;
    margin-top: 0%;
    margin-bottom: 0%;
 
}

header, footer{
    display: flex;
    flex-flow: row wrap;
    flex-grow: inherit;
    justify-content: space-between;
    align-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border: solid var(--border-color);
    background: var(--background-header);
    width: 100%;
    height: 15%;
    margin-top: 0%;
    padding: 5%;
}

footer img{
    width: fit-content;
    height: fit-content;
}
h1{
    font: italic 3rem "Josefin Sans", sans-serif;
}
h2{
   font: normal 2rem "Lexend", sans-serif;
}
p{
    font: normal 1rem "Atkinson Hyperlegible", sans-serif;
}
footer{
    font: normal 0.75rem "Yanone Kaffeesatz", sans-serif ;
}
a{

}
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-self: safe;

}
main{

}
section{

}
article{

}
figure{

}
figcaption{

}
/*--- Clases y subclases --- */
.button__catalogo{

}
.button_carrusel{

}
.button_opciones{

}

/*-- Menú hamburguesa ---*/

/* formatea las etiquetas <a> dentro de la clase burger-menu */
.burger-menu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2.5px solid red;
    max-width: 200px;
    background:var(--background-burger-menu);
    text-shadow: 1px 1px black;
}

/* ubica el checkbox y los iconos fa-bars y fa-times en el mismo sitio */
.burger-menu input[type="checkbox"], .burger-menu .fa-bars, .burger-menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*La propiedad right permite desplazar un elemento respecto a su posición original tomando como referencia el borde derecho del elemento
    Por su propia definición, esta propiedad sólo afecta a los elementos cuya propiedad "position" tenga un valor de "relative", "absolute" o "fixed".*/
    right: 0;
    top: 0;
  }
  
/*tamaño y comportamiento de los iconos*/
.burger-menu .fa-bars, .burger-menu .fa-times {
    font: size 1rem;;
    pointer-events: none;
} 
/*"oculta" a simple vista el checkbox que hace todo el trabajo de If-Else*/
.burger-menu input[type="checkbox"] {
    opacity: 0;
} 

/*Formateo de los contenedores*/
.burger-menu {
    color:black;
    position: relative;
    background: var(--background-burger-menu);
    min-height: 2rem;
} 
.burger-menu nav {
    display: none;
} 

/*usamos el selector de hermanos generales (~) para hacer que cuando el input esta en estado :checked (if positivo), se muestre el nav, y cuando no se encuentra en dicho estado, el menú se oculte. */
.burger-menu input:checked ~ nav {
    display: block;
}
.burger-menu input:checked ~ .fa-bars {
    display: none;
}
.burger-menu input:not(:checked) ~ .fa-times {
    display: none;
}
.article__libro{

}
.article__audio{

}
/*--- Identificadores ---*/
#bar{
    display: none;
}
#carrousel{

}
#beneficios{

}
#biblioteca{

}
#about{

}
#logo{
    width:20%;
    height: fit-content;
}
#titular{
    width: 80%;
    height: fit-content;
}