/*--- Tipografias accesibles ---*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/*--- Variables CSS ---*/
:root{
    --background-gradiente-01:LemonChiffon;
    --background-gradiente-02: Violet;
    --background-gradiente-03: HoneyDew;
    --background-gradiente-04: LightSkyBlue;
    --border-button: 2px solid black;
    --color:black;
    --font-h2: "Josefin Sans", sans-serif 150%;
    --font-body: "Atkinson Hyperlegible", sans-serif 100%;
    --font-nota: "Yanone Kaffeesatz", sans-serif 80%;
    --font-extra: "Sarabun",sans-serif 90%;

}

/*--- Contenedores --- b*/
body{
    display: flex;
    flex-flow: row wrap; /*fila sin desborde*/
    justify-content: space-between; /* los items dentro del contenedor tienen espaciado auto*/
    background-color:var(--background-body);
    box-sizing: border-box;
    line-height: 1.6;
    width: 100%;
    height:70%;
}
header{

}
footer{

}

/*--- Clases derivadas de etiquetas --- */
h1.font{
    font: italic 2rem "Josefin Sans", sans-serif;
}
h2.font{
   font: normal 1.5rem "Lexend," sans-serif;

}
p.font{
    font: normal 1rem "Atkinson Hyperlegible", sans-serif;
}
footer.font{
    font: normal 0.75rem "Yanone Kaffeesatz", sans-serif ;
}
a{

}
nav{

}
button{

}
main{

}
section{

}
article{

}
figure{

}
figcaption{

}
/*--- Clases y subclases --- */
.button__catalogo{

}
.button_carrusel{

}
.button_opciones{

}

/*-- Copiado del tutorial menú hamburguesa*/
.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}






.nav__burger-link{

}
.nav__burger-item{

}
.nav__bar-link{

}
.nav__bar-item{

}
.article__libro{

}
.article__audio{

}
/*--- Identificadores ---*/
#carrousel{

}
#beneficios{

}
#biblioteca{

}
#about{
    
}